/* Custom styles */
main {
    margin: 5px !important;
}

/* isprired by custom styles available on https://css.winterveil.net/ */
.nav-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    /* Adjust the space between columns as needed */
}

.nav-columns>nav {
    flex: 1;
    /* Allows each child div to grow equally */
    min-width: 250px;
    /* Prevents the columns from getting too narrow before stacking */
}

@media (max-width: 600px) {
    .nav-columns {
        flex-direction: column;
    }
}


p>label>span {
    font-style: italic;
}

canvas {
    border: 1px solid var(--fg);
}


/* Rooms Grid */
.rooms-grid {
    display: grid;
    padding: 10px;
  grid-gap: 1vh;
}

.rooms-grid>fieldset {
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

/* Rooms form */
.rooms-grid-element {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  grid-gap: 1vh;
}

.rooms-grid-element>div,
.rooms-grid-element>button{
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

.rooms-grid-element>button{
    height: 80px !important;
    width: 80px !important;
    margin: auto;
}


option {
    color: black
}

select,
option {
    text-align: center
}